<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SFX Challenge</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
    {% block scripts %}{% endblock %}
    {% block styles%}{% endblock %}
</head>
<body>
<!--Body-->
    <div id="body-wrapper">

        <!--navbar-->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand mx-auto" id="header-text" href="/">SFX Challenge</a>
            </div>
        </nav>

        <hr class="hr-gradient">

        <!--Body main content-->
        <div id="content">{% block content%}{% endblock %}</div>
    </div>

<!--Footer-->
    <footer class="bg-dark text-center text-white">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <a id="href1" class="text-white" href="https://gitfront.io/r/MarcinSzecowka/xN3FaTaow3MN/SFX-Challenge/">SFX Challenge GitHub repo</a>
        </div>
    </footer>
</body>
</html>