{% extends "base.html" %}

{% block styles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block scripts %}
    <script>
      var asd
      // Virtual fingerprint
      // Initialize the agent at application startup.
      const fpPromise = import('https://fpcdn.io/v3/YEa0uAF9MDNGqdIS2zVk')
        .then(FingerprintJS => FingerprintJS.load({
          region: 'eu'
        }))

      // Get the visitor identifier when you need it.
      fpPromise
        .then(fp => fp.get())
        .then(result => {
          // This is the visitor identifier:
          var visitorId = result.visitorId;
          document.getElementById("user_fingerprint").value = visitorId;
        })
    </script>
{% endblock %}

{% block content %}
    <div class="div-sticky">
        <p id="score-counter">I am sticky</p>
        <hr class="hr-gradient">
    </div>

    <p class="p-centered" style="margin-top: 25px;">Adjust the volume to minimum before playing any audio</p>
    <div class="div-centered" style="margin-bottom: 25px;">
        <input type="range" id="volumeControl" name="volume" value="10" min="1" max="100" onchange="changeVolume()">
    </div>
    <br>
    <form>
        <div class="container">
            <div class="row">
                <input type="hidden" name="user_fingerprint" id="user_fingerprint" value="">
                {% for element in json_obj[1].sfxs_contents %}
                    <div class="col-4 col-xl-4 col-lg4 col-md-6 col-sm-6" style="margin-bottom: 80px;">
                        {{ loop.index }}: <input type="text" name="sfx_input" id="{{ element._id }}" onfocus="changeFocus()" oninput="getQuestionAnswerPrep()" value="{{ element.game_name }}" class="{{ 'uncompleted' if element.status == 'incorrect_guess' else 'completed' if element.status == 'correct_guess'}}">
                        <audio id="audio-{{ element._id }}" src="/audio/{{ element._id }}"></audio>
                        <button type="button" onclick="playAudio('audio-{{ element._id }}')">Play audio</button>
                    </div><br>
                {% endfor %}
            </div>
            <button class="button-centered" type="button" onclick="getResults()">See results</button>
        </div>
    </form>
    <div id="results"></div>

    <script>
        let timer = null
        var currentFocus = null;

        function changeFocus(){
            clearTimeout(timer);
            currentFocus = document.activeElement.id;
        }

        function getQuestionAnswerPrep(){
            clearTimeout(timer);
            timer = setTimeout(getQuestionAnswer, 400);
        }

        function getQuestionAnswer(){
            sfxId = currentFocus;
            userGuess = document.getElementById(currentFocus).value;
            userFingerprint = document.getElementById("user_fingerprint").value
            if (userGuess != ""){
                $.post( "/challenge/{{ json_obj[0].challenge_uuid }}", {
                    sfx_id: sfxId,
                    guess: userGuess,
                    user_fingerprint: userFingerprint,
                    dataType: "json"
                })
                .done(function(response){
                    if (response === "redirect"){
                        window.location.replace("/create/modern?error_message=You+are+not+allowed+to+take+part+in+this+challenge+as+you+are+not+it%27s+owner.+You+may+see+this+message+even+if+you+are+the+owner%2C+which+means+that+your+browser%27s+settings+have+changed.+In+that+case+consider+creating+a+new+challenge+instead")
                    }
                    else if (response.game_name === "False"){
                        document.getElementById(response.sfx_id).classList.add('uncompleted');
                        document.getElementById(response.sfx_id).classList.remove('completed');
                    }
                    else {
                        document.getElementById(response.sfx_id).value = response.game_name;
                        document.getElementById(response.sfx_id).classList.remove('uncompleted');
                        document.getElementById(response.sfx_id).classList.add('completed');
                        document.getElementById(response.sfx_id).blur();
                        adjustScore();
                    }
                });
            }
        }

        function getResults(){
            $.post( "/challenge/{{ json_obj[0].challenge_uuid }}/result", {
                dataType: "json"
            })
            .done(function(response){
                for (var j = 0; j < response[1].length; j++){
                    document.getElementById("results").innerHTML = "game over";
                    document.getElementById(response[1][j]._id).value = response[1][j].game_name;
                    if (response[1][j].status === "correct_guess"){
                        document.getElementById(response[1][j]._id).classList.remove('uncompleted');
                        document.getElementById(response[1][j]._id).classList.add('completed');
                    }
                    else {
                        document.getElementById(response[1][j]._id).classList.add('uncompleted');
                        document.getElementById(response[1][j]._id).classList.remove('completed');
                    }
                    document.getElementById(response[1][j]._id).disabled = true;
                }
            });
        }

        function playAudio(id){
            document.getElementById(id).play();
        }

        function changeVolume(){
            var allAudioTags = document.getElementsByTagName("audio");
            var globalVolume = document.getElementById("volumeControl").value/100;

            for (var i = 0, max = allAudioTags.length; i < max; i++){
                allAudioTags[i].volume = globalVolume;
            }
        }

        function adjustScore(){
            var currentScore = document.getElementsByClassName("completed").length;
            var maxScore = document.querySelectorAll("input[type=text]").length;
            document.getElementById("score-counter").innerHTML = "Your score is: " + currentScore + " / " + maxScore;

        }

        // Adjust the score
        adjustScore()

        // Change default volume of audio tags after the page loads so that the user doesn't get
        // hearing damage if they don't adjust their volume first
        changeVolume()

    </script>
{% endblock %}

<!--
https://stackoverflow.com/questions/17365289/how-to-send-audio-wav-file-generated-at-the-server-to-client-browser
https://stackoverflow.com/questions/17359741/playing-a-wavefile-from-the-html-using-flask-framework/67388580#67388580


style="{{ 'background-color:red;' if element.status == 'incorrect_guess' else 'background-color:green; pointer-events:none;' if element.status == 'correct_guess'}}"
-->