.hr-gradient {
    border: 0;
    height: 1px;
    margin:10px 0;
    position:relative;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0.65) 50%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(15%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.65)), color-stop(85%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 15%,rgba(255,255,255,0.65) 50%,rgba(255,255,255,0) 85%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.hr-gradient:before {
    content: "";
    display: block;
    border-top: solid 0px rgba(255,100,100,0.100);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

#body-wrapper {
    background-color: #343a40;
    color: white;
    min-height: 100vh;
}

#href1:hover {
    text-decoration: none;
}

.p-centered {
    text-align: center;
}

.div-centered {
    display:flex;
    justify-content: center;
    align-items: center;
}

.button-centered {
    position: relative;
    left: 50%;
    margin-top: 25px;
    transform: translateX(-50%);
}

.div-sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #343a40;
    color: white;
    text-align: center;
}

.completed {
    background-color: green;
    pointer-events: none;
}

.uncompleted {
    background-color: red;
}

.alert {
    padding-top: 50px;
    text-align: center;
}

.form_field {
    width: 15%;
    margin-right: 35%;
}

#submit_button {
    display: block;
    margin: auto;
    margin-top: 10px;
}

#form_div {
    margin-top: 40px;
}

/* Tooltips */
/* They have to have a letter at the end since bootstrap also has tooltip classes */
.tooltipb {
    position: relative;
}

.tooltipb .tooltiptextb {
    visibility: hidden;
    background-color: black;
    color: #fff;
    width: 320px;
    margin-right: 20px;
    text-align: center;
    padding: 5px 20px 5px 20px;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
}

.tooltipb:hover .tooltiptextb {
    visibility: visible;
}

.tooltipb .tooltiptextb {
    top: -5px;
    right: 105%;
}

.tooltipb .tooltiptextb {
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipb:hover .tooltiptextb {
    opacity: 1;
}

.tooltipb .tooltiptextb::after {
    content: " ";
    position: absolute;
    top: 15px;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/* ----------------------- */

.tooltipc {
    position: relative;
}

.tooltipc .tooltiptextc {
    visibility: hidden;
    background-color: black;
    color: #fff;
    width: 320px;
    margin-right: -12px;
    text-align: center;
    padding: 5px 20px 5px 20px;
    border-radius: 6px;
    position: absolute;
    z-index: 10;
}

.tooltipc:hover .tooltiptextc {
    visibility: visible;
}

.tooltipc .tooltiptextc {
    top: -5px;
    right: 105%;
}

.tooltipc .tooltiptextc {
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipc:hover .tooltiptextc {
    opacity: 1;
}

.tooltipc .tooltiptextc::after {
    content: " ";
    position: absolute;
    top: 15px;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
/* Tooltips end */

#information-box {
    margin-top: 100px;
    text-align: center;
    font-size: 1.5em;
}